# Counting

In [1]:
import random
import string

import matplotlib.pyplot as plt
import numpy as np
import ollama
import pandas as pd
import seaborn as sns
from scipy import stats
from scipy.spatial.distance import cosine
from tqdm.auto import tqdm, trange

sns.set()

In [6]:
df = []

for model in ["llama3.1:8b", "deepseek-coder-v2:16b"]:
    for _ in trange(5):
        x = "".join(
            [random.choice(string.digits) for _ in range(random.randint(5, 10))]
        )
        res = ollama.chat(
            model=model,
            messages=[
                {
                    "role": "user",
                    "content": f"Count the number of character '1' in the following string. Don't return anything else but the count as a single number. String: {x}. Count:",
                },
            ],
        )
        true = x.count("1")
        try:
            pred = int(res["message"]["content"])
        except ValueError:
            pred = None
        df.append({"string": x, "model": model, "true": true, "pred": pred})

df = pd.DataFrame(df)

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/5 [00:00<?, ?it/s]

In [7]:
df

     string                  model  true  pred
0  90338911            llama3.1:8b     2   7.0
1   7852401            llama3.1:8b     1   2.0
2   8150171            llama3.1:8b     3   3.0
3     70195            llama3.1:8b     1   4.0
4  48221359            llama3.1:8b     1   3.0
5   8786853  deepseek-coder-v2:16b     0   NaN
6  34603213  deepseek-coder-v2:16b     1   NaN
7    632010  deepseek-coder-v2:16b     1   NaN
8  79041692  deepseek-coder-v2:16b     1   NaN
9    416449  deepseek-coder-v2:16b     1   NaN